html, body{
    margin: 0;
    padding: 0;
    outline: none;
    background: url('bk.jpg');
    background-repeat:no-repeat;
    background-position:100% 0%; background-attachment:fixed;
    background-size: 100%;
}
body {
    font-family: PT Sans, Helvetica, Arial;
    font-size: 14px;
    color: #333;
}
.b3radius {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
}
#page_align {
    width: 85%; margin: 35px auto;
    background: #FFF;
    box-shadow: 0px 1px 3px #000000;
    -webkit-box-shadow: 0px 1px 3px #000000;
    -o-box-shadow: 0px 1px 3px #000000;
    -moz-box-shadow: 0px 1px 3px #000000;
}
header{
    /*background: #FFF;*/
}
nav{width: 100%; height: 42px; background: #eaeaea;border-bottom: solid 3px #F1F1F1;border-top: solid 3px #F1F1F1;}
nav ul {list-style: none;}
nav ul li {
    float: left;padding: 6px 15px;
    border-right: solid 1px #F1F1F1;
}
nav ul li a{
    color: #868686;
    display: block;
    padding: 0 7px;

}
nav ul li:hover {background: #ccc;}
a {
    text-decoration: none;
}
article {
    margin: 5px 0px 0px 5px;
    line-height: 16px;
    width: 800px;
    text-align: left;
    float: left;

}
aside{
    float: left;
    width: 190px;
    background: #A9A9A9;
}
.class_name{
    width: 150px;
    height: 150px;
    background: #eaeaea;
    float: left;
    margin-top: 5px;
}
.clr{
    clear: both;
}
#copyright{
    clear: left;
    width: 152px;
    color: greenyellow;
}
h1 {
    font-size: 18px;
    color: #515151;
    padding-top: 14px;
    padding-left: 18px;
}

.padding-no { padding: 0 !important;}


.parameter-add {
    float: right;
    background: url("plus_green.gif");
    display: inline-block;
    min-height: 15px;
    min-width: 15px;
    text-decoration: none;
}

.parameter-add:hover, .parameter-add:active {
    text-decoration: none;
    background: url("plus_red.png");
}

.join_lobby span.join-result-ico {
    display: none;
    width: 24px;
    height: 24px;
}

.join_lobby.pending span.join-result-ico {
    display: inline-block;
    background: url('wait_red_black.gif');
    background-size: contain;
}

.join_lobby.pending.success span.join-result-ico {
    background: url('wait_chibi.gif');
    background-size: contain;
}

.join_lobby.pending.error span.join-result-ico {
    background: url('wait_red.gif');
    background-size: contain;
}

.bold {
    font-weight: bold;
}

.attack-choices input {
    float: left;
    width: 30%;
}

/*.defense-choices input, */.defense-choices label {
    width: 70%;
}

#page {
 max-width: 1100px;
 width: 100%;
}

#user_block2 {
    float: right;
}

#system_chat_block {
    position: absolute;
    bottom: 5px;
    width: 100%;
    background: #EFFEED;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}
@media (max-height: 610px) {
    #system_chat_block {
        position: relative;
    }
    header {
        display: none;
    }
}

#system_chat_block h2 {
    padding-top: 0;
    margin-top: 0;
}

#system_chat {
    max-height: 6em;
    overflow: auto;
    padding-top: 0.5em;
    background: rgb(230, 240, 210);
    float: none;
}


#lobby_list_thead_tr th,
#lobby_list td,
#lobby_guests_thead_tr th,
#lobby_guests_tbody td {
    text-align: center;
}

.chat-message span {
    font-weight: bolder;
    font-family: gubblefont, GubbleBum Blocky, GubbleBum, monospace;
}


@media (max-width: 1100px) {
    #page {max-width: 900px;}
}
@media (max-width: 900px) {
    #page {max-width: 770px;}
}
@media (max-width: 770px) {
    #page {max-width: 700px;}

    #lobby_list_thead_tr th,
    #lobby_guests_thead_tr th {
        font-size: 1px;
        color: transparent;
        min-width: 40px;
        height: 40px;
        background: transparent;
    }
    #lobby_list td.join_lobby a.btn,
    #lobby_guests_tbody td.accept_opponent a.btn {
        font-size: 1px;
        color: transparent;
        min-width: 40px;
        height: 40px;
        background: transparent;
        border: none;
    }
    #lobby_list td.join_lobby a.btn:hover,
    #lobby_list td.join_lobby a.btn:active,
    #lobby_guests_tbody td.accept_opponent a.btn:hover,
    #lobby_guests_tbody td.accept_opponent a.btn:active {
        border: none;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    #lobby_list_thead_tr th#lobby_list_th_name,
    th#lobby_guests_th_name {background: url("name.png");  background-position: center; background-size: contain;
        background-repeat: no-repeat; }
    #lobby_list_thead_tr th#lobby_list_th_lvl,
    th#lobby_guests_th_lvl {background: url("exp.png");  background-position: center; background-size: contain;
        background-repeat: no-repeat; }
    #lobby_list_thead_tr th#lobby_list_th_str,
    th#lobby_guests_th_str {background: url("strength.png");  background-position: center; background-size: contain;
        background-repeat: no-repeat; }
    #lobby_list_thead_tr th#lobby_list_th_sta,
    th#lobby_guests_th_sta {background: url("stamina.png");  background-position: center; background-size: contain;
        background-repeat: no-repeat; }
    #lobby_list_thead_tr th#lobby_list_th_agi,
    th#lobby_guests_th_agi {background: url("agility.png");  background-position: center; background-size: contain;
        background-repeat: no-repeat; }
    #lobby_list_thead_tr th#lobby_list_th_int,
    th#lobby_guests_th_int {background: url("intuition.png");  background-position: center; background-size: contain;
        background-repeat: no-repeat; }
    #lobby_list td.join_lobby,
    #lobby_guests_tbody td.accept_opponent {background: url("horn.png");  background-position: center; background-size: contain;
        background-repeat: no-repeat; }

}
